

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}


body {
    min-height: 100vh;
}

.shadow {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(58, 46, 46, 0.281),
      0 6px 20px 0px rgba(241, 243, 242, 0.856);
  }

.form-control:not(select) {
    padding: 0.8rem 0.5rem;
}

select.form-control {
    height: 1rem;
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}
.form-control:focus {
    box-shadow: none;
}

